html, body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: #ededed;
  height: 100%;
  font-family: 'Sansa Pro', Verdana, Arial, sans-serif;
}

/* HEADER */

.header {
  position: relative;
  height: 80px;
  background-color: #ffffff;
  border-bottom: #20a0de 3px solid;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  &:before {
	border-bottom: 3px solid red;
    bottom: 9px;
    content: " ";
    left: 0;
    position: absolute;
    width: 100%;
  }
  &:after {
    content: " ";
    position: absolute;
    width: 100%;
    border-bottom: #f99500 3px solid;
    bottom: 2px;
    left: 0;
  }
  &-logos{
	float: right;
	margin: 1em;  
	&-logo{
		margin: 0.25em;
	}
  }
  &-main-logo{
	height: 80px;
	float: left;
	position: relative;
	min-width: 250px;
	margin: 0 0 0 2em;
	img {
		position: absolute;
		left: 0;
		bottom: -40px;
		width: 250px;
		height: 80px;
		z-index: 1;
	}
  }
  &-legend{
    width: auto;
	float: left;
	color: #ec1b2d;
  }
}
/* END HEADER */
/* MAIN CONTENT*/

.content {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  -webkit-box-shadow: 5px 5px 10px #d4d4d4;
  -ms-box-shadow: 5px 5px 10px #d4d4d4;
  -moz-box-shadow: 5px 5px 10px #d4d4d4;
  box-shadow: 5px 5px 10px #d4d4d4;
  -webkit-border-radius: 0 0 8px 8px;
  -ms-border-radius: 0 0 8px 8px;
  -moz-border-radius: 0 0 8px 8px;
  -o-border-radius: 0 0 8px 8px;
  border-radius: 0 0 8px 8px;
}

.landing {
  max-width: 1200px;
  &-picture{
	background: url('../img/heading-bg.jpg') #ffffff no-repeat left top;
	height: 500px;
	position: relative;
  }
  &-wave{
    content: ' ';
	background: url(../img/summer-wave.svg) no-repeat left bottom;
	height: 150px;
	position: absolute;
	width: 100%;
	bottom: 0;
	background-size: 100%;
  }
}

.main-content {
  background-color: #FFFFFF;
  padding: 2em 0;
  max-width: 1200px;
  text-align: center;
  &-title,&-description{
	width: 80%;
	margin: auto;  
  }
  &-title h4{
    color: #ec1b2d;
  }
  &-button{
	padding: 2em 0;  
  }
}


/* END MAIN CONTENT*/
/* FOOTER */

.footer {
  width: 100%;
  background-color: #fbeb2e;
  position: absolute;
  margin: 6em 0 0 0;
  &-container{
    width: 90%;
	margin: auto;
  }
  &-wave{
    content: ' ';
	background: url(../img/sunweb-wave.svg) no-repeat left bottom;
	height: 39px;
	position: absolute;
	width: 100%;
	left: 0;
	top: -39px;
	background-size: 100%;
  }
  &-legend{
    color: #ec1b2d;
	width: 100%;
	text-align: center;
	h2{
		margin: auto;
	}
  }
  &-link{
    font-size: 0.75em;
	display: block;
	margin: 0 0 1em 0;
  }
  &-main-content{
	margin: 3em 0;
  }
  &-main-logo{
	height: 40px;
	width: 100%;
	text-align: center;
	img {
		width: 125px;
		height: 40px;
		z-index: 1;
	}
  }
}

/* END FOOTER */
/* GRID OPTIONS*/

.row {
  width: 100%;
  float: left;
}

.col {
  width: 100%;
  text-align: center;
}

.hidden-mobile, .hidden-tablet {
  display: none;
}

/* END GRID OPTIONS*/
/* INPUTS*/

.button {
  height: 50px;
  border-radius: 8px;
  border-color: #FFFFFF;
  padding: 10px;
  &-red{
    background-color: #ed1c2e;
	color: #FFFFFF;
	text-transform: uppercase;
  }
}

/* END INPUTS*/
/* MEDIA QUERY*/
@media screen and (min-width: 1200px) {
  .landing-wave {
    bottom: -47px;
  }
  .main-content {
    padding: 4em 0;
  }
}

@media screen and (min-width: 967px) {
  .header {
    width: 80%;
    margin: auto;
    max-width: 1200px;
  }
  .hidden-tablet {
    display: block;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .col-75 {
    width: 75%;
    float: left;
  }
  .col-25, .col-lg-25 {
    width: 25%;
    float: left;
  }
  .col-33 {
    width: 33%;
    float: left;
  }
  .col-66 {
    width: 66%;
    float: left;
  }
  .col-lg-50 {
    width: 50%;
    float: left;
  }
  .footer-container {
    width: 80%;
    margin: auto;
  }

  .footer-main-logo {
    height: 40px;
    width: 25%;
    margin: -1em 0 0 10%;
    float: left;
    text-align: left;
  }
  .footer-legend {
    float: left;
    color: #ec1b2d;
    width: 55%;
    text-align: left;
    h2 {
      margin: auto;
	  text-align: center;
    }
  }
}

@media screen and (min-width: 767px) and (max-width: 966px) {
  .col-md-25 {
    width: 25%;
    float: left;
  }
  .col-md-50 {
    width: 50%;
    float: left;
  }
  .col-md-100 {
    width: 100%;
    float: left;
  }
  .footer-main-logo {
    height: 40px;
    width: 25%;
    float: left;
    margin: -1em 0;
  }
  .footer-legend {
    float: left;
    color: #ec1b2d;
    width: 55%;
    h2 {
      margin: auto;
    }
  }
}

@media screen and (min-width: 767px) {
  .footer-main-content {
    text-align: left;
  }
  .hidden-mobile {
    display: block;
  }
  .col-25 {
    width: 25%;
    float: left;
  }
  .col-75 {
    width: 75%;
    float: left;
  }
  .footer-legend {
    margin: -1em 0 0 0;
  }
}

/* END MEDIA QUERY*/