$icon-airplane: '\e600';
$icon-cars: '\e601';
$icon-family: '\e602';
$icon-mountains: '\e603';
$icon-sun: '\e604';
$icon-calendar: '\e605';
$icon-calendar-overview: '\e606';
$icon-clock: '\e607';
$icon-info: '\e610';
$icon-angle-left: '\e608';
$icon-angle-right: '\e609';
$icon-facebook: '\e60a';
$icon-facebook-square: '\e60b';
$icon-google-plus: '\e60c';
$icon-google-plus-square: '\e60d';
$icon-twitter: '\e60e';
$icon-twitter-square: '\e60f';
